{{ define "main" }}
<div class="body-content">
  <div class="row">
    <div class="col-sm-12">

      <div class="row">

        <div class="col-md-3">
          {{ with .Site.GetPage (printf "/brand/%s" .Params.brandSlug) }}
          {{ if .Params.image }}
          <br>
          <a href="{{ .RelPermalink }}" class="thumbnail" title="{{ .Title }}" style="float: left; margin-right: 2em">
            <img class="img-responsive" src="{{ .Site.Params.mediaBaseURL }}{{ .Params.image }}" alt="{{ .Title }}" style="max-width: 200px">
          </a>
          {{ end }}
          {{ end }}
          <div class="clearfix"></div>
        </div>

        <div class="col-md-7">

          <h1>
            <a href="{{ .RelPermalink }}" style="color: #333; text-decoration: none; cursor: default">
              {{ .Params.cubeTitle }} &ndash; {{ .Title }}
            </a>
          </h1>

          {{ if .Params.uCode }}
          <p>
            <strong>U code:</strong>
            {{ .Params.uCode }}
          </p>
          {{ end }}

        </div>

        <div class="col-md-2">
        </div>

      </div>

      <div class="row">

        <div class="col-md-3" style="margin-top: 20px">

          <div style="position: relative">
            {{ $imageOrSwatch := (index .Params "swatchImage" | default (index .Params "image")) }}

            {{ if $imageOrSwatch }}
              <a href="{{ .RelPermalink }}" title="{{ .Params.cubeTitle }}" class="thumbnail with-bottomright-curve" style="float: left; cursor: default">
                <img class="img-responsive" src="{{ .Site.Params.mediaBaseURL }}{{ $imageOrSwatch }}" alt="{{ .Params.cubeTitle }}">

                {{ if .Params.swatchOverlayImage }}
                <img class="img-responsive" src="{{ .Site.Params.mediaBaseURL }}{{ .Params.swatchOverlayImage }}" alt="{{ .Params.cubeTitle }}" style="position: absolute; top: 0">
                {{ end }}

                <object class="bottomright-curve" data="/img/corner-curve.svg" type="image/svg+xml">
                  <span>corner curve</span>
                </object>
              </a>

              <div class="clearfix"></div>
            {{ end }}
          </div>

          {{ if .Params.swatchImage }}
          <a href=".RelPermalink" title="{{ .Params.cubeTitle }}" class="thumbnail with-bottomright-curve" style="float: left; cursor: default">

            <img class="img-responsive" src="{{ .Site.Params.mediaBaseURL }}{{ .Params.swatchImage }}" alt="{{ .Params.cubeTitle }}">

            <object class="bottomright-curve" data="/img/corner-curve.svg" type="image/svg+xml">
              <span>corner curve</span>
            </object>

          </a>

          <div class="clearfix"></div>
          {{ end }}

        </div>

        <div class="col-md-9" style="padding-top: 20px">

          <div class="reactions">
            <a href="#" class="btn btn-default" title="Log in or register in order to like this product">
              <span class="fa fa-thumbs-up"><span class="sr-only">Like</span></span>
            </a>
            <a href="#" class="btn btn-default" title="Log in or register in order to dislike this product">
              <span class="fa fa-thumbs-down"><span class="sr-only">Dislike</span></span>
            </a>
            <a href="#" class="btn btn-default" title="Log in or register in order to love this product">
              <span class="fa fa-heart"><span class="sr-only">Love</span></span>
            </a>
          </div>

          <div class="row">

            <div class="col-md-2">
              <h2 style="font-size: 18px; margin-top: 0">Info</h2>
            </div>

            <div class="col-md-10">

              {{ if and .Params.colourRgb .Params.colourHex }}
              <div class="thumbnail with-bottomright-curve" style="float: left; margin-right: 1em; width: 102px; height: 102px; position: relative; background-color: #{{ .Params.colourHex }}">
                <div style="position: absolute; top: 20%; left: 10%; width: 80%; text-align: center; background-color: #fff">
                  <strong>Colour (RGB)</strong>
                  <br>
                  {{ .Params.colourRgb }}
                </div>

                <object class="bottomright-curve" data="/img/corner-curve.svg" type="image/svg+xml"><span>corner curve</span></object>
              </div>
              {{ end }}

              {{ if .Params.isDarkColour }}
              <div class="thumbnail with-bottomright-curve" style="float: left; margin-right: 1em; width: 102px; height: 102px; position: relative">
                <div style="position: absolute; top: 20%; left: 0; width: 100%; text-align: center">
                  <strong>Dark Colour</strong>
                  <br>
                  <span class="glyphicon glyphicon-{{ if eq .Params.isDarkColour "true" }}ok{{ else }}remove{{ end }} text-{{ if eq .Params.isDarkColour "true" }}success{{ else }}danger{{ end }}"></span>
                </div>

                <object class="bottomright-curve" data="/img/corner-curve.svg" type="image/svg+xml"><span>corner curve</span></object>
              </div>
              {{ end }}

            </div>

          </div>

        </div>

      </div>

    </div>
  </div>
</div>
{{ end }}
