  <script type="text/javascript" src="/libs/jquery/js/jquery.min.js"></script>
  <script type="text/javascript" src="/libs/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/libs/moment/moment.min.js"></script>
  <script type="text/javascript" src="/libs/jquery-easing/jquery.easing.js"></script>
  <script type="text/javascript" src="/libs/select2/js/select2.min.js"></script>
  <script type="text/javascript" src="/libs/typeahead/js/typeahead.bundle.min.js"></script>
  <script type="text/javascript" src="/libs/bootbox/js/bootbox.min.js"></script>
  <script type="text/javascript" src="/libs/bootstrap-switch/js/bootstrap-switch.min.js"></script>
  <script type="text/javascript" src="/libs/huebee/js/huebee.pkgd.min.js"></script>
  <script type="text/javascript" src="/libs/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" src="/libs/swiper/js/swiper.min.js"></script>
  <script type="text/javascript" src="/libs/leaflet/js/leaflet.js"></script>
  <script type="text/javascript" src="/js/address_streetmap.js"></script>
  <script type="text/javascript" src="/js/colourpicker.js"></script>
  <script type="text/javascript" src="/js/datetimepicker.js"></script>
  <script type="text/javascript" src="/js/description_popup.js"></script>
  <script type="text/javascript" src="/js/horizontal_scroll.js"></script>
  <script type="text/javascript" src="/js/phone_toggle.js"></script>
  <script type="text/javascript" src="/js/promo_video.js"></script>
  <script type="text/javascript" src="/js/search_form.js"></script>
  <script type="text/javascript" src="/js/searchbox_suggestions.js"></script>
  <script type="text/javascript" src="/js/searchparams_indicator.js"></script>
  <script type="text/javascript" src="/js/reaction_save.js"></script>
